.section-footer {
  background: $primary-color;
  padding: 20px;
  color: $white;
  width: 100%;
  margin-bottom: 0 !important;
  //test
  margin-top: auto;

  .footer-menu {
    .nav-items {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0;
      gap: 10px;
      .menu-item {
        margin: 0;
        padding: 0;
        list-style: none;
        a {
          color: $white;
          text-decoration: none;
          transition: .3s;
          &:hover {
            color: $secondary-color;
            transition: .3s;
          }
        }
        .sub-menu {
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 10px;
        }
      }
    }
  }
  i {
    margin-right: 10px;
  }
  .col-logo {
    margin-bottom: 20px;
    a {
      color: white;
      text-decoration: none;
      font-size: 20px;

    }
  }
  .address {
    margin-bottom: 10px;
  }
  .contact {
    a {
      color: white;
      text-decoration: none;
    }
  }

  .footer-menu-title {
    font-size: 20px;
  }

  .socials {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    i {
      color: white;
      &::before {
        font-size: 20px;
      }
    }
  }

  a {
    &:hover {
      color: $button2-color !important;
    }
  }
  .align-items-end {
    @media screen and (min-width: 991px) {
      align-items: flex-end;
    }
  }
  .align-items-center {
    @media screen and (min-width: 991px) {
      align-items: center;
    }
    @media screen and (max-width: 991px) {
      align-items: flex-start !important;
    }
  }
  @media screen and (max-width: 991px) {
    .wrapper {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.section-bottom-footer {
  background: white;
  padding:20px 0;
 .brand-footer {
   gap: 10px;
   @media screen and (max-width: 991px) {
     flex-direction: column;
     align-items: center;
   }
 }

}

