.con {
  &.out {
   &.left{
    position: relative;
    width: 50vw;
    margin-left: -50vw;
    height: 100%;
    overflow: hidden;
    left: 100%;
   }
   &.right{
    position: relative;
    width: 50vw;
    max-height: 800px;
    overflow: hidden;
   }
   &.center {
    max-height: 440px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;

   }
  }
}
.con {
  &.out {
   &.left{
    position: relative;
    width: 50vw;
    margin-left: -50vw;
    height: 100%;
    overflow: hidden;
    left: 100%;
   }
   &.right{
    position: relative;
    width: 50vw;
    max-height: 800px;
    overflow: hidden;
   }
   &.center {
    max-height: 440px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;

   }
  }
}

.np {
  padding: 0;
}

.relative{
  position: relative;
}



section{
  position: relative;
}
body {
  font-family: $fontBody;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.swiper-invisible-blank-slide {
    visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    -o-transition-property: transform, height;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
}
.swiper-pagination.swiper-pagination-hidden {
    opacity: 0; 
}
.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
}
button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progressbar {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
}
.swiper-container-vertical > .swiper-pagination-progressbar {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
}
.swiper-pagination-white .swiper-pagination-progressbar.swiper-pagination-white {
    background: rgba(255, 255, 255, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
    background: #fff;
}
.swiper-pagination-progressbar.swiper-pagination-black {
    background: rgba(0, 0, 0, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
    background: #000;
}
.swiper-scrollbar {
    height: 4px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background-color: gray;
    width: 100%;

}
.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}
.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;
}
.swiper-scrollbar-cursor-drag {
    cursor: move;
}

.swiper-grid > .swiper-wrapper {
    flex-wrap: wrap;
}
.swiper-grid-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
}
.swiper-button{
    border: solid 1px black;
    border-radius: 50%;
    transition: .3s;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    width: 60px;
    height: 50px;

}
.swiper-navigation-wrapper{
    margin-top: 30px;
}

.swiper-slide{
    .inner-wrapper{
        border: 1px solid $maincolor;
        padding: 50px;
        border-radius: 10px;
    }
}

.maxtext {
  max-width: 750px;
}

.absolute {
  position: absolute;
}
.right{
  right: 0;
}
.left{
  left: 0;
}
.op3 {
    opacity: 0.3;
}

.cta-wrapper {
  a {
    background: $button1-color !important;
    transition: .3s;
  }
  &:hover {
    a {
      color: white !important;
      transition: .3s;
      background: $button2-color !important;
    }
  }
}

.section-breadcrumbs {
  margin: 0;
  position: relative;
  top: 100px;
  @media screen and (max-width: 991px) {
    top: 35px;
  }
  span > * {
    color: white;
  }
}

.m-bot-50 {
  margin-bottom: 50px !important;
}