@import '../acf-colors';

$fontBody: 'Roboto', sans-serif;
$fontTitle:  "Montserrat", sans-serif;
$fontLink: 'helvetica', sans-serif;
$fontSpecial: 'comic sans ms', sans-serif;

/* Font sizes */
$fontSize89: 5.61em;
$fontSize67: 4.209em;
$fontSize50: 3.157em;
$fontSize48: 3em;
$fontSize37: 2.369em;
$fontSize32: 2em;
$fontSize28: 1.777em;
$fontSize24: 1.5em;
$fontSize21: 1.333em;
$fontSize20: 1.250em;
$fontSize18: 1.125em;
$fontSize16: 1em;
$fontSize15: 0.938em;
$fontSize14: 0.85em;
$fontSize12: 0.75em;
$fontSize10: 0.625em;
$black: #000;
$white: #fff;
$gray: #e5e6e7;
$wbgray: #ebebeb;
$wogray: #f8f8f8;
$gray2: #bdbdbd;
$gray3: #d8d8d8;
$gray4: #afafbb;
$green: #66cf4d;
$red: #f35731;
$red2: #ffe8e8;
$blue: #0c1315;
$maincolor: $black;